<!DOCTYPE html>
<html>
  <head>
    <title>RailsDay5</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- only render logout button once @user has value and loggedin is true -->
    <% if !@user %>
    <% elsif @user.log %>
      <%= render "layouts/header" %>
    <% end %>
    <%= yield %>
  </body>
</html>
